{
  "plugins": ["syntax-flow", "transform-flow-strip-types"],
  "presets": [
    "react",
    "stage-2",
    ["env", {
      "test": {
        "plugins": ["istanbul"]
      },
      "targets": {
        "node": "current"
      }
    }]
  ]
}
