{
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "extends": ["eslint-config-uber-es2015", "plugin:react/recommended", "plugin:node/recommended"],
  "plugins": ["flowtype", "babel", "node"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "quotes": 0,
    "flowtype/define-flow-type": 1,
    "no-trailing-spaces": 0,
    "indent": 0,
    "strict": 0,
    "no-return-assign": 0,
    "no-console": 0,
    "guard-for-in": 0,
    "operator-linebreak": 0,
    "no-invalid-this": 0,
    "babel/no-invalid-this": 2,
    "max-len": 0,
    "no-irregular-whitespace": 0,
    "no-multiple-empty-lines": 0,
    "no-inline-comments": 0,
    "react/prop-types": 0,
    "space-before-function-paren": 0,
    "node/no-unsupported-features": 0,
    "complexity": 0,
    "sort-vars": 0,
    "no-continue": 0
  }
}
