{
  "plugins": ["syntax-flow", "transform-flow-strip-types", "transform-class-properties"],
  "presets": [
    "react",
    "stage-2",
    ["env", {
      "test": {
        "plugins": ["istanbul"]
      },
      "targets": {
        "browsers": "defaults",        "node": "6.10"

      }
    }]
  ]
}
